<IfModule mod_mime.c>
  AddType application/wasm .wasm
  AddType application/octet-stream .data.unityweb
  AddType application/octet-stream .wasm.unityweb
  AddType application/javascript .framework.js.unityweb
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/wasm application/octet-stream application/javascript
</IfModule>
