CREATE TABLE IF NOT EXISTS certifications (id CHAR(36) PRIMARY KEY, user_id CHAR(36) NOT NULL, displayName VARCHAR(255) NOT NULL, unlocked_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, CONSTRAINT fk_certifications_user FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
